<div class="container pb-2">

  {{!-- Search bar --}}
  <div class="row justify-content-md-center py-2">
    <div class="col-md-6">
      <div class="input-group flex-row justify-center">
        <input type="text" class="form-control form-control-lg" placeholder="Search users.." id="search">
      </div>
    </div>
  </div>

  {{!-- Loop over profiles and display them --}}
  <div class="row d-md-flex">
    {{#each profiles as |profile| }}
    {{#if (privacy_check profile.privacy)}}
    <div class="col-md-3 profile p-2">
      <div class="card" style="width: 18rem">
        <img src={{profile.photo}}>
        <div class="card-body">
          <div class="searchItems">
            <h5 class="card-title user-name">{{profile.user.name}}</h5>
            <p class="card-text user-location mb-2">{{profile.city}}, {{profile.country}}</p>
          </div>
            <a href="profiles/{{profile.id}}" class="btn btn-outline-dark">View Profile</a>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>

</div>
</div>

 {{!-- Search Script --}}
 <script src="/js/search.js"></script>


        
 
         
       
     

      

    


   




