
   
    <div class="input-group mb-3 flex-row justify-center">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>

      <div class="container ">
      <div class="row">
       {{#each profiles as |profile| }}
      
        


          <div class="col-3 ">
              <div class="card">
            <img src="img/profile-placeholder.png" alt=""">
            <div class="card-body">
              <h5 class="card-title">{{profile.user.name}}</h5>
              <p class="card-text">{{profile.city}}</p>
               <p class="card-text">{{profile.country}}</p>
                <p class="card-text"><p>{{profile.about}}</p></p>
              <a href="profile/{{profile.id}}" class="btn btn-primary">view profile</a>
            </div>
          </div>
          </div>
             {{/each}}



        
 
         
       
     

      

    


   




