<h1>All Profiles page</h1>

 Search: <input type="text">
 
 {{#each profiles as |profile| }}

 <img src="{{profile.photo}}" alt="{{profile.photo}}">

   <p>{{profile.user.name}}</p>
   <p>{{profile.city}}</p>
   <p>{{profile.country}}</p>
   <p>{{profile.about}}</p>

 {{/each}}