<body>

    

<div class="card col-12 ">
  <div class="d-md-inline-flex">
    <div class="card-body">
 

    <!-- image is half of col 12 left -->
    <div class="card">
        <div class="col-6">

    
      <img src={{profile.photo}} class="card-img-top img-fluid" alt="users image" width="360px" width="360px">
    </div>
    <br>
    
     <div class="flex-row">
        
    </div>
</div>

    
 

  
    

    <br>


    
       
      
      <div class="">
          <div class="">
       
       

        <form class="login-form card">
            
            <div class="col-6">
              <p>{{name}}</p>
            </div>

            <div class="mb-3">
              <p>{{profile.email}}</p>
            </div>

            <div class="mb-3">
              <p>{{profile.phone}}</p>
            </div>


            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Skills</label>
                <p>{{ profile.skills}}</p>
              </div>
              
          </form>
          
      </div>
      <a href="#" class="btn btn-primary">Edit Profile</a>
    </div>
    



</div>




<!-- second area -->

<div class="  col-md-6">

    <div class="card-body" >
       
       
        
        
            
            <div class="mb-3 card inputSize" >
              <label for="aboutme" class="form-label" width="10px" height="10px">About Me</label>
              {{profile.about}}
            </div>

            <div class="mb-3 card inputSize ">
              <label for="experience" class="form-label">Expereince</label>
              {{profile.experience}}
            </div>

            <div class="mb-3 card inputSize ">
              <label for="hobbies" class="form-label">Hobbies</label>
              {{profile.hobbies}}
            </div>


          
            
          
      </div>
    </div>
   
    


    

</div>
</div>
