<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <img src="{{profile.photo}}" alt="">
        <p class="lead">{{profile.user.name}}</p>
        <p>{{profile.city}}, {{profile.country}}</p>
        <p>{{profile.email}}</p>
        <p>{{profile.phone}}</p>

      </div>
    </div>
    
   
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p>{{profile.about}}</p>
        <p>{{profile.experience}}</p>
        <p>{{profile.hobbies}}</p>
      </div>
    </div>
  </div>
</div>

{{!-- 

    <div class="d-inline-flex">

<div class="card col-12 ">
    <div class="card-body">
 

    <!-- image is half of col 12 left -->
    <div class="card">
        <div class="col-6">
    
      <img src="img/profile-placeholder.png" class="card-img-top" alt="...">
    </div>
    <br>
    
     <div class="flex-row">
        
      <a href="#" class="btn btn-primary">Upload image</a>
      <a href="#" class="btn btn-primary">Save image</a>
    </div>
</div>

    
 

  
    

    <br>


    
       
      
      <div class="col-12">
          <div class="card">
       
       
        
        <form class="login-form">
            
            <div class="mb-3">
             <p>{{Name}}</p>
              
              
            </div>
            <div class="mb-3">
              <p>{{Name}}</p>
                
                
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Skills</label>
                <input type="password" class="form-control" id="userPassword">
              </div>
              
          </form>
          
      </div>
      <a href="#" class="btn btn-primary">Save Changes</a>
    </div>
    

 


</div>

</div>


<!-- second area -->

<div class=" card col-12">

    <div class="card-body">
       
       
        
        
            
            <div class="mb-3 card">
              <label for="exampleInputPassword1" class="form-label">About Me</label>
              <input type="password" class="form-control" id="userPassword">
              
            </div>
            <div class="mb-3 card ">
                <label for="exampleInputEmail1" class="form-label">Expereince</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
                
              </div>
          
            
          
      </div>
    </div>
   
    


    

</div>
</div>
     --}}